@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}
body {
  background: rgb(253, 250, 250);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: #212124;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
