.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-content .list-content__heading {
  flex-grow: 1;
  background-color: white;

  margin-right: 2rem;
  border-radius: 1rem;
}
